body {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
  }
  
  #video-grid {
    display: flex;
    justify-content: center;
  }
  
  video {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  .main {
    height: 100vh;
    display: flex;
  }
  
  .main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
  }
  
  .main__right {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
  }
  
  .main__videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 40px;
  }
  
  .main__controls {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #1c1e20;
    color: white;
  }
  
  .main__controls__block {
    display: flex;
  }
  
  .main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
  }
  
  .main__controls__button i {
    font-size: 24px;
  }
  
  .main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
  }
  
  .leave_meeting {
    color: #eb534b;
  }
  
  .main__header {
    padding-top: 5px;
    color: #f5f5f5;
    text-align: center;
    margin-top: 10px;
  }
  .main__header h3 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .main__message_container {
    padding: 10px 12px;
    display: flex;
  }
  
  .main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    height: 45px;
  }
  
  .messages {
    color: white;
    list-style: none;
  }
  
  .message {
    margin-top: 5px;
    padding: 10px;
  }
  
  .message b {
    font-weight: bold;
    font-style: italic;
  }
  
  .unmute,
  .stop {
    color: #cc3b33;
  }
  
  .meeting__url {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: darkgray 1px solid;
  }
  
  #hidden-input {
    display: none;
  }
  
  .link-btn {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 10px 0;
    min-width: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(38, 137, 247);
    color: white;
    border: none;
    font-family: "Dosis", sans-serif !important;
    font-size: 16px !important;
  }
  
  .link-btn i {
    font-size: 24px;
    margin-right: 3px;
  }
  
  .link-btn:hover,
  .link-btn:active,
  .link-btn:focus {
    background-color: rgb(30, 144, 255);
    border: none;
  }
  
  .exit__body {
    background-color: rgb(245, 241, 241);
  }
  
  .exit__main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .exit__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(235, 230, 230);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
  }
  
  .exit__center i {
    font-size: 32px;
    color: orange;
  }